In [13]:
import pandas as pd
import numpy as np

##### Load the CSV file into a Pandas DataFrame

In [ ]:
df_races: pd.DataFrame = pd.read_csv("races.csv", na_values=["\\N"])

##### Let's peek at the first few rows to see what it looks like!

In [15]:
print("First 5 rows of the dataset:")
print(df_races.head())

First 5 rows of the dataset:
   raceId  year  round  circuitId                   name        date  \
0       1  2009      1          1  Australian Grand Prix  2009-03-29
1       2  2009      2          2   Malaysian Grand Prix  2009-04-05
2       3  2009      3         17     Chinese Grand Prix  2009-04-19
3       4  2009      4          3     Bahrain Grand Prix  2009-04-26
4       5  2009      5          4     Spanish Grand Prix  2009-05-10

       time                                                url fp1_date  \
0  06:00:00  http://en.wikipedia.org/wiki/2009_Australian_G...      NaN
1  09:00:00  http://en.wikipedia.org/wiki/2009_Malaysian_Gr...      NaN
2  07:00:00  http://en.wikipedia.org/wiki/2009_Chinese_Gran...      NaN
3  12:00:00  http://en.wikipedia.org/wiki/2009_Bahrain_Gran...      NaN
4  12:00:00  http://en.wikipedia.org/wiki/2009_Spanish_Gran...      NaN

  fp1_time fp2_date fp2_time fp3_date fp3_time quali_date quali_time  \
0      NaN      NaN      NaN      NaN      NaN        NaN        NaN
1      NaN      NaN      NaN      NaN      NaN        NaN        NaN
2      NaN      NaN      NaN      NaN      NaN        NaN        NaN
3      NaN      NaN      NaN      NaN      NaN        NaN        NaN
4      NaN      NaN      NaN      NaN      NaN        NaN        NaN

  sprint_date sprint_time
0         NaN         NaN
1         NaN         NaN
2         NaN         NaN
3         NaN         NaN
4         NaN         NaN

##### And let's get a quick summary of its structure, like data types and non-null counts

In [16]:
print("\nInformation about the dataset:")
df_races.info()

Information about the dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1125 entries, 0 to 1124
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   raceId       1125 non-null   int64
 1   year         1125 non-null   int64
 2   round        1125 non-null   int64
 3   circuitId    1125 non-null   int64
 4   name         1125 non-null   object
 5   date         1125 non-null   object
 6   time         394 non-null    object
 7   url          1125 non-null   object
 8   fp1_date     90 non-null     object
 9   fp1_time     68 non-null     object
 10  fp2_date     90 non-null     object
 11  fp2_time     68 non-null     object
 12  fp3_date     72 non-null     object
 13  fp3_time     53 non-null     object
 14  quali_date   90 non-null     object
 15  quali_time   68 non-null     object
 16  sprint_date  18 non-null     object
 17  sprint_time  15 non-null     object
dtypes: int64(4), object(14)
memory usage: 158.3+ KB

##### Let's check the number of missing values

In [17]:
print("\nNumber of missing values per column:")
print(df_races.isnull().sum())

Number of missing values per column:
raceId            0
year              0
round             0
circuitId         0
name              0
date              0
time            731
url               0
fp1_date       1035
fp1_time       1057
fp2_date       1035
fp2_time       1057
fp3_date       1053
fp3_time       1072
quali_date     1035
quali_time     1057
sprint_date    1107
sprint_time    1110
dtype: int64